{% extends "shop/base.html" %}

{% block title %}
    О нас
{% endblock %}

{% block content %}
    <h3><br><br><br>Інтернет-магазин одягу.</h3>
    <h5>Адрес:вул Замарстинівська 83а</h5>
    <br><br><br><br>
    <h4>Наша Місія</h4>
    <p>
        <h5>Розвиток, здоров'я та усвідомлене споживання – це те, що надихає нас. Ці цінності ми втілили у наш бренд і кожну одиницю продукції. Ми створюємо не просто одяг – ми формуємо стиль життя, спосіб мислення сучасної, впевненої та цілеспрямованої особистості.

Ми доставляємо виключно оригінальні та якісні товари.</h5>
    </p>
{% endblock %}